
html{
  display: block;
  margin-left: auto;
  width: 810px;
  border: 1px black solid;
  margin: auto;
}
h1{
    text-align: center;
}

.rectangleWrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 150px 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
        background-color: #fff;
        color: #444;
        text-align: center;
        position: relative;
        margin-left: auto;

    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        text-align: center;


        font-size: 150%;
        border: black solid 1px;


    }
    .title{
        grid-column: 1/6;
    }
    #b1{
        background-color: #FCCD20;
        position: relative;

    }
    #b2{
        background-color: #FF8000;
        position: relative;
    }
    #b3{
        background-color: #FF2E00;
        position: relative;
    }
    #b4{
        background-color: #F3FF00;
        position: relative;
    }
    #b5{
        background-color: #78FF00;
        position: relative;
    }
    #b6{
        background-color: #00F3FF;
        position: relative;
    }
    #b7{
        background-color: #EAEAEA;
        position: relative;
    }
    #b8{
        background-color: #0093FF;
        position: relative;
    }
    #b9{
        background-color: #2300FF;
        position: relative;
    }
    #b10{
        background-color: #83A895;
        position: relative;
    }

    span{
        position: absolute;
        top: 50px;
        left: 5px;
        color: #444444;
    }
    #colorBox{
       grid-column: 1/6;
        height: 100px;
        background-color: lightblue;
    }
    #myColor{
        position: relative;
        top: 25px;
    }
    #colorBox{
        position: relative;
    }
    #msge{
        color: darkgreen;
        margin-left: 30%;
        top: 25px;
        font-size: 23px;
    }

